/* filtres */

.sliderFiltre {
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}

.sliderFiltre p {
    padding-bottom: 0;
}

.startFiltre {
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.videoFiltre {
    padding-bottom: 5vh;
    width: 40vh;
}

.column{
    flex-direction: column;
}

.resultFiltreImg {
    padding-bottom: 5vh;
    width: 40vh;
}

.selectionFiltre {
    width: 20vw;
    height: 50vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10vh;
}

.padFiltre {
    margin: 5vh 0;
}

.gaussPad {
    margin-bottom: 2vh;
}

.gaussPad2 {
    margin-bottom: 5vh;
}

.resultFiltre {
    width: 30vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mycanvas {
    display: none;
}

.radio_control {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.1em solid #B4D2E7;
}

/* Slider */

.c {
    min-width: 700px;
    width: 60vw;
    height: 50vh;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
    box-sizing: border-box;
    background-color: transparent;
}

.ci {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
    background: inherit;
    z-index: var(--z);
    transition: .3s ease-out;
}

.ci img {
    -moz-user-select: none;
    user-select: none;
}

.ch {
    position: absolute;
    top: 70%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: hsla(var(--h) var(--s) var(--l) / .8);
    text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

.inputFiltre input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.selector {
    background: none !important;
    box-shadow: none !important;
}

.resetButton {
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;
    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;
    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

.btn {
    border-color: black !important;
    border: 10vw 5vh;
    border-radius: 1vh !important;
    font-family: overpass, sans-serif;
    font-weight: 200;
    cursor: pointer;
    padding: 1vh 1vw;
}

.hide {
    opacity: 0;
}

label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 90% / .3);
    cursor: pointer;
    color: black;
    position: relative;
    z-index: 10;
    font-family: overpass, sans-serif;
}

label:last-child {
    margin-right: 0;
}

input:checked+label {
    background: black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
}

input:checked+label+.ci~.ci {
    transform: translateX(100%);
}

input:not(:checked)+label+.ci {
    transition: 0;
}