/* filtres */

.sliderFiltre{
    display: flex;
    justify-content: center;
    margin: 2vh 0;
}
.startFiltre{
    width: 30vw;
    height: 50vh;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoFiltre{
    padding-bottom: 5vh;
}
.selectionFiltre{
    width: 20vw;
    height: 50vh;
    background-color: brown;
}
.resultFiltre{
    width: 30vw;
    height: 50vh;
    background-color: chartreuse;
}

#mycanvas {
    display:none;
  }
  

/* Slider */

.c {
    min-width: 700px;
    width: 60vw;
    height: 50vh;
    border-radius: 12px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
    box-sizing: border-box;
}

.ci {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
    background: inherit;
    z-index: var(--z);
    transition: .3s ease-out;
}

.ci img {
    -moz-user-select: none;
    user-select: none;
}

.ch {
    position: absolute;
    top: 70%;
    left: 4%;
    transform: translateY(-50%);
    font-size: 2rem;
    color: hsla(var(--h) var(--s) var(--l) / .8);
    text-shadow: 0 2px 10px hsla(var(--h) var(--s) 10% / .3);
}

input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
}

label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
    background: hsla(0 0% 90% / .3);
    cursor: pointer;
    color: black;
    position: relative;
    z-index: 10;
}

label:last-child {
    margin-right: 0;
}

input:checked+label {
    background: black;
}

input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
}

input:checked+label+.ci~.ci {
    transform: translateX(100%);
}

input:not(:checked)+label+.ci {
    transition: 0;
}
