.mainTitle {
    display: flex;
    justify-content: center;
    margin: 2.5vh 0;
    text-shadow: 0px 3px 3px #00000044;
}

.navbar {
    justify-content: center;
    text-align: center;
}

.navbarElement {
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    margin: 0 20vw;
}

.navLineZone {
    display: flex;
    justify-content: center;
}

.navLine {
    height : 0.2vh;
    width : 62vw;
    background-color : black;
    margin: 3vh 0;
}

.text-focus-in {
	-webkit-animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  