.background {
    background: linear-gradient(180deg, #F8F8F8 24.27%, rgba(224, 239, 243, 0.1) 37.87%, rgba(157, 192, 203, 0.1) 55.59%, rgba(252, 210, 159, 0.1) 70.39%, rgba(227, 175, 112, 0.1) 100%);
    animation: gradient 60s ease infinite;
    background-size: 400% 400%;
    justify-content: center;
    transition: all 0.5s;
}

.flex {
    display: flex;
}

/* Landing section */

.landing {
    height: 85vh;
    margin: 0 5vw 0 10vw;
}

.landingTextZone {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.landingTitle {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vh 0;
    text-shadow: 0px 4px 4px #00000044;
}

.landingSubTitle{
    padding: 1.5vh 0;
}
.landingText{
    padding: 3vh 3vw 3vh 0;
}