
/*Mise en place du dégradé de fond*/
.background {
    background: linear-gradient(180deg, #F8F8F8 28.27%, rgba(224, 239, 243, 1) 37.87%, rgba(157, 192, 203, 0.5) 55.59%, rgba(252, 210, 159, 0.5) 70.39%);
    animation: gradient 60s ease infinite;
    background-size: 200% 100%;
    justify-content: center;
    transition: all 0.5s;
}

.flex {
    display: flex;
}

/* Landing section */
.landing {
    height: 80vh;
    margin: 0 5vw 0 10vw;
}

.landingTextZone {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.landingTitle {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vh 0;
    text-shadow: 0px 4px 4px #00000044;
}

.landingSubTitle{
    padding: 1.5vh 0;
}
.landingText{
    padding: 3vh 3vw 3vh 0;
}

.landingCover img{
    height: 80vh;
}

/* Tableaux Section*/
.tableaux {
    margin : 10vh 10vw;
}

.tableauZone {
    justify-content: center;
    padding-bottom: 6vh;
    padding-top: 6vh;
}

.tableauDisplay img {
    height: 42vh;
}

.tableauExplicationGauche {
    padding-left: 8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: right;
}
.footerDisplay {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 3vh 0;
}

.tableauExplicationDroite{
    padding-right: 8vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.tableauSousTitre{
    text-align: center;
    padding-top: 1vh;
}

.tableauImage{
    box-shadow: 0px 6px 6px #00000044;
}

/* Footer Section*/
.footerImage1{
    height: 4vh;
}

.footerLine {
    height : 0.2vh;
    width : 2vw;
    background-color : black;
    margin: 0 1.5vh;
}

.footerImage2{
    height: 4vh;
    padding-right: 52px;
}
