.background {
    background: linear-gradient(180deg, #F8F8F8 24.27%, rgba(224, 239, 243, 1) 37.87%, rgba(157, 192, 203, 1) 55.59%, rgba(252, 210, 159, 1) 70.39%, rgba(126, 103, 76, 1) 100%);
    animation: gradient 60s ease infinite;
    background-size: 200% 200%;
    justify-content: center;
    transition: all 0.5s;
}

.flex {
    display: flex;
}

/* Landing section */

.landing {
    height: 85vh;
    margin: 0 5vw 0 10vw;
}

.landingTextZone {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.landingTitle {
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1vh 0;
    text-shadow: 0px 4px 4px #00000044;
}

.landingSubTitle{
    padding: 1.5vh 0;
}
.landingText{
    padding: 3vh 3vw 3vh 0;
}

<<<<<<< HEAD
.landingCover img{
    height: 80vh;
}
=======

.tableaux {
    margin : 10vh 10vw;
}

.tableauZone {
    justify-content: center;
}

.landingCover{
    height: 85vh;
}

.tableauSuperTitre {
    font-size: 35px;
    text-align: right;
}

.tableauExplicationText {
    margin-top: 3vh;
    font-size: 14px;
}

.tableauDisplay img {
    width: 336px;
    height: 246px;
}

.landingCover img{
    height: 80vh;
}

>>>>>>> a341ef6b64c8b77957a6fa168abfc2c9fe40a53f
