@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

H1 {
    font-family: Allura, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 6.5vh;
}

H2 {
    font-family: Allura, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22vh;
}

H3 {
    font-family: Overpass, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 2.5vh;
}

H4 {
    font-family: Overpass, sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 6vh;
}

H5 {
    font-family: Overpass, sans-serif;
    font-style: italic;
    font-weight: 100;
    font-size: 4vh;
}

H6 {
    font-family: Overpass, sans-serif;
    font-style: 18px;
    font-weight: normal;
}